.moo-no-match {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 30px auto 0;
    padding-bottom: 60px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moo-no-match h1 {
    font-size: 120px;
    color: rgba(255, 83, 83, 0.8);
    margin-bottom: 50px;
}

.moo-no-match h4 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 40px;
    margin-bottom: 20px;
}

.moo-no-match img {
  height: 70px !important;
  margin: 0 auto 30px;
  opacity: 0.7;
  display: block;
}

.moo-no-match img:hover {
  opacity: 0.8;
}

.moo-no-match ul {
    padding: 0;
    list-style: none;
}

.moo-no-match ul li {
    display: inline-block;
}

.moo-no-match ul li:first-child {
    margin-right: 25px;
}