/* ITEM DE OFERTA */
.moo-offer-card {
    width: 220px;
    padding: 15px !important;
}

.moo-offer-card .avatar {
    text-transform: none !important;
    margin: 10px 0 0 !important;
    cursor: pointer;
}

.moo-offer-card .avatar > div:not(:last-child) {
    height: 50px;
    vertical-align: middle;
}

.moo-offer-card .avatar img {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.moo-offer-card .category {
    font-size: 12px;
    font-weight: 700;
    color: rgba(90, 95, 190, 0.6) !important;
    margin-bottom: 5px;
}

.moo-offer-card .name {
    font-size: 32px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

.moo-offer-card .store {
    font-weight: 300;
    margin-bottom: 10px;
}

.moo-offer-card .price {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    font-weight: 700;
    color: rgba(255, 83, 83, 0.8) !important;
}

.moo-offer-card .date {
    margin-bottom: 25px;
    font-size: 14px !important;
    font-weight: 300;
}

.moo-offer-card ul {
    list-style: none;
    text-align: center;
}

.moo-offer-card ul li {
    display: inline-block;
    margin: 0 7px;
}

.moo-offer-card a {
    cursor: pointer;
}

.moo-offer-card a:not(.report) {
    color: rgba(0, 0, 0, 0.3);
}

.moo-offer-card a:hover:not(.report) {
    color: rgba(90, 95, 190, 0.8) !important;
}

.moo-offer-card a.active:not(.report) {
    color: rgba(90, 95, 190, 1) !important;
}

.moo-offer-card a .material-icons {
    font-size: 16px !important;
}