/* Propaganda dos apps */
.moo-home-apps {
  padding: 30px 0 0;
  margin: 0 !important;
}

.moo-home-apps h3 {
  margin-bottom: 10px;
  position: relative;
}

.moo-home-apps h3:after {
  content: '';
  position: absolute;
  width: 10%;
  left: 45%;
  bottom: -20px;
  border-bottom: rgba(255, 83, 83, 1) solid medium;
}

.moo-home-apps .row {
  margin-top: 60px;
}

.moo-home-apps .row:before {
  clear: both;
}

.moo-home-apps ul {
  list-style: none;
}

.moo-home-apps ul > li .play {
  background: url("../../../images/play-store-line.png") no-repeat;
}

.moo-home-apps ul > li .play:hover {
  background: url("../../../images/play-store.png") no-repeat;
}

.moo-home-apps ul > li .app {
  background: url("../../../images/app-store-line.png") no-repeat;
}

.moo-home-apps ul > li .app:hover {
  background: url("../../../images/app-store.png") no-repeat;
}

.moo-home-apps ul > li span {
  background-size: contain !important;
  width: 200px;
  height: 72px;
  margin-left: 15px;
  margin-bottom: 15px;
  display: inline-block;

  transition: ease-in-out all 0.2s;
  -moz-transition: ease-in-out all 0.2s;
  -webkit-transition: ease-in-out all 0.2s;
}

.moo-home-apps ul > li span:hover {
  transition: ease-in-out all 0.2s;
  -moz-transition: ease-in-out all 0.2s;
  -webkit-transition: ease-in-out all 0.2s;
}

.moo-home-apps p.highlight {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: justify;
}

.moo-home-apps .phone {
  width: 100%;
  height: 400px;
  background: url("../../../images/mockup.png") center bottom no-repeat;
  background-size: contain;
}