.moo-offer-list {
    list-style: none;
    padding: 0;

    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
}

.moo-offer-list li {
    float: left;
    margin: 10px;
}

@media all and (max-width: 760px) {
    .moo-offer-list {
        justify-content: center;
    }
}