.moo-create-store .title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.moo-create-store .price {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 10px;
    color: rgba(255, 83, 83, 0.8);
}

.moo-create-store .help {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.moo-create-store .help a,
.moo-create-store .new-store {
    cursor: pointer;
    font-weight: 700;
    color: rgba(90, 95, 190, 0.8) !important;
}

.moo-create-store .help a:hover,
.moo-create-store .help a:focus,
.moo-create-store .new-store:hover,
.moo-create-store .new-store:focus {
    color: rgba(90, 95, 190, 1) !important;
}

.moo-create-store .new-store {
    margin-left: 5px;
}

.moo-create-store .icon {    
    text-align: center;
    color: rgba(255, 83, 83, 0.8);
}

.moo-create-store .icon i {
    font-size: 60px !important;
}