.moo-map-marker {
    font-size: 60px;
    color: rgba(255, 83, 83, 1);

    -webkit-animation: budge 1s infinite alternate;
    animation: budge 1s infinite alternate;
}

@-webkit-keyframes budge {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes budge {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}