.moo-map-marker {
  background: url("../../../../public/images/marker.png") no-repeat center;
  background-size: contain;
  height: 50px;
  width: 50px;

  -webkit-animation: budge 1s infinite alternate;
  animation: budge 1s infinite alternate;
}

@-webkit-keyframes budge {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes budge {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}