/* Usuário */
.moo-user-header {
    margin: 0;
    padding: 40px 0 !important;
    text-align: center;
    background-color: rgba(90, 95, 190, 0.2);
}

.moo-user-header .user-photo-container {
    width: 150px;
    height: 150px;

    padding: 5px;
    margin: 0 auto 20px;

    border: rgba(255, 83, 83, 1) solid medium;
    background: transparent;
}

.moo-user-header .user-photo-container img {
    width: 100%;
    height: 100%;
}

.moo-user-header h2 {
    font-weight: 300;
}

.moo-user-header .email {
    color: rgba(90, 95, 190, 0.8);
    font-weight: 700;
    font-size: small;
}