.btn-flat {
    background-color: transparent !important;
    border: rgba(0, 0, 0, 0.2) solid thin;
}

.place {
    padding: 10px;
}

.place-filter {
    margin: 0 10px;
}

.moo-open-filter-button {

}

.moo-close-filter-button {

}