/* The side navigation menu */
.moo-mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(47, 47, 47, 0.95);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.moo-mobile-menu.increase {
    width: 100%;
}

.moo-mobile-menu.decrease {
    width: 0;
}

.moo-mobile-menu .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgba(156, 159, 216, 1);
}

.moo-mobile-menu .close:hover {
    color: rgba(122, 126, 203, 1);
}

.moo-mobile-menu ul {
    width: 100%;
    text-align: center;
}

.moo-mobile-menu ul li {
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0;
    margin-bottom: 10px;
}

.moo-mobile-menu ul li a {
    color: rgba(255, 255, 255, 0.8);
    transition: ease-in-out all 0.3s;
}

.moo-mobile-menu ul li:last-child a {
    color: rgba(90, 95, 190, 0.8);
}

.moo-mobile-menu ul li a:hover,
.moo-mobile-menu ul li a.active {
    color: rgba(255, 83, 83, 1);
    transition: ease-in-out all 0.3s;
}