/* RESETS */
.btn {
    background-color: rgba(90, 95, 190, 0.8) !important;
}

.btn-flat {
    background-color: transparent !important;
}

.btn:hover {
    background-color: rgba(90, 95, 190, 1) !important;
}

.btn-flat:focus, .btn-flat:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(255, 83, 83, 0.7) !important;
    box-shadow: 0 1px 0 0 rgba(255, 83, 83, 0.7) !important;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: rgba(255, 83, 83, 0.7) !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: rgba(90, 95, 190, 0.8);
}

/* HELPERS */
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.n-padding {
    padding: 0 !important;
}

.n-padding-left {
    padding-left: 0 !important;
}

.n-padding-right {
    padding-right: 0 !important;
}

.n-margin {
    margin: 0 !important;
}

.n-margin-bottom {
    margin-bottom: 0 !important;
}

.m-20 {
    margin: 20px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.d-table {
    display: table !important;
}

/* ANIMATIONS */
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-10px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* GENERAL CONFIGURATION OF APP */
html {
    color: rgba(27, 28, 57, 0.8) !important;
    font-size: 14px;
}

.moo-app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

h2 {
    margin: 40px 0 60px;
}

.moo-scroll-up-button {
    background-color: rgba(255, 83, 83, 1) !important;
    z-index: 10;
}

.moo-scroll-up-button:hover {
    background-color: rgba(204, 66, 66, 1) !important;
}

.list-animations-enter {
  opacity: 0.01;
}

.list-animations-enter.list-animations-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.list-animations-leave {
  opacity: 1;
}

.list-animations-leave.list-animations-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-4-16 11:51:29
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */
@keyframes scale-up-hor-center {
  0% {
    transform: scaleX(0.4);
  }
  100% {
    transform: scaleX(1);
  }
}
